USE [master]
GO
/****** Object:  Database [WinFormDB]    Script Date: 11/09/2020 12:55:30 م ******/
CREATE DATABASE [WinFormDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WinFormDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\WinFormDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WinFormDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\WinFormDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WinFormDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WinFormDB]
GO
/****** Object:  Table [dbo].[DataToSave]    Script Date: 11/09/2020 12:55:30 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataToSave](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
 CONSTRAINT [PK_DataToSave] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[DataToSave] ON 

INSERT [dbo].[DataToSave] ([ID], [Name], [Email], [Address]) VALUES (1, N'kjfxv', N'sdfbjk', N'jbxcvk')
INSERT [dbo].[DataToSave] ([ID], [Name], [Email], [Address]) VALUES (2, N'jj', N'jj', N'jj')
INSERT [dbo].[DataToSave] ([ID], [Name], [Email], [Address]) VALUES (3, N'hjn', N'jkb', N'jk')
SET IDENTITY_INSERT [dbo].[DataToSave] OFF
USE [master]
GO
